* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.person {
    border: 1px solid #777;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
}